<div class="container">
	<p>Gestion des utilisateurs ({{usersCtrl.users.length}} inscrits)</p>
	<form>
		<input ng-model="usersCtrl.search.$" placeholder="Recherche globale">
		<input ng-model="usersCtrl.search.email" placeholder="Recherche sur le Mel"> Utilisateurs Non Actif
		<input type="checkbox" ng-model="usersCtrl.search.isactif" ng-true-value=false ng-false-value="">
	</form>
	<p class="text-warning" ng-if="usersCtrl.users.length==0"> Chargement ...</p>
	<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
	<table class="table table-striped ">
		<tr dir-paginate="user in usersCtrl.users | orderBy:'name' | filter:usersCtrl.search:strict | itemsPerPage :'12' ">
			<td>
				<button class="btn btn-warning btn-xs" type="button" ng-if="!user.isactif" ng-click="usersCtrl.active(user)" rel="tooltip" title="Autoriser cet utilisateur">
          <span class="glyphicon glyphicon-star"></span>Activer
        </button>
				<button type="button" class="btn btn-success btn-xs" ng-if="user.isactif" ng-click="usersCtrl.deactive(user)" rel="tooltip" title="Suspendre cet utilisateur">
          Déactiver
        </button>

				<button class="btn btn-warning btn-xs" type="button" ng-if="!user.mailValid" ng-click="usersCtrl.validmail(user)" rel="tooltip" title="Courriel Non Confirmé">
            <span class="glyphicon glyphicon-envelope"></span>
          </button>
				<button class="btn btn-success btn-xs" type="button" ng-if="user.mailValid" ng-click="usersCtrl.invalidmail(user)" rel="tooltip" title="Courriel Confirmé">
              <span class="glyphicon glyphicon-envelope"></span>
          </button>
				<span>
          <a href ng-click="usersCtrl.edit(user)" rel="tooltip" title="Modifier" class="trash">
            <div class="glyphicon glyphicon-pencil pull-right"></div>
          </a>
        </span>
			</td>
			<td>
				<strong>{{user.name}}</strong>
				<strong>{{user.surname}}</strong>
			</td>
			<td> {{user.uid}} </td>
			<td> {{user.creationDate | date: "dd/MM/yyyy"}} </td>
			<td>
				<strong> {{user.structure}} </strong>
			</td>
			<td>
				<span class="text-muted "><a href=mailto:{{user.email}} rel="tooltip" title="Envoyer un courriel"> {{user.email}}  </a> </span>
				<span ng-show="user.uid!='admin'">
          <a href ng-click="usersCtrl.delete(user)" rel="tooltip" title="Effacer" class="trash">
            <div class="glyphicon glyphicon-trash pull-right"></div>
          </a>
        </span>
			</td>
		</tr>
	</table>


	<script type="text/ng-template" id="modalEdit.html">
		<div class="modal-header">
			<h3 class="modal-title">Modification de {{ModalEditCtrl.user.uid}}</h3>
		</div>
		<div class="modal-body">
			<uib-tabset>

				<uib-tab heading="Profil">
					<form class="form" name="editerForm" ng-submit="editer(editerForm)" novalidate>

						<div class="form-group" ng-class="{ 'has-success': editerForm.name.$valid && submitted,
                                    'has-error': editerForm.name.$invalid && submitted }">
							Nom
							<input type="text" name="name" class="form-control" ng-model="ModalEditCtrl.user.name" required style="width:250px" />
							<p class="help-block" ng-show="editerForm.name.$error.required && submitted">
								Nom Obligatoire
							</p>

		      </div>
		<div class="form-group" ng-class="{ 'has-success': editerForm.surname.$valid && submitted,
                                    'has-error': editerForm.surname.$invalid && submitted }">

			Prénom
			<input type="text" name="surname" class="form-control" ng-model="ModalEditCtrl.user.surname" placeholder="Votre prénom" required style="width:250px" />
			<p class="help-block" ng-show="editerForm.surname.$error.required && submitted">
				Prénom Obligatoire
			</p>

			<div class="form-group" ng-class="{ 'has-success': editerForm.structure.$valid && submitted,
                                    'has-error': editerForm.structure.$invalid && submitted }">
				<span>Structure de rattachement :
							<select ng-model="ModalEditCtrl.user.structure">
	 							<option ng-repeat="option in ModalEditCtrl.Structures" value="{{option.id}}">{{option.value}}</option>
              </select>
            </span>
				<p class="help-block" ng-show="editerForm.structure.$error.required && submitted">
					Structure de rattachement Obligatoire
				</p>
</div></div>

<div class="form-group" ng-class="{ 'has-success': editerForm.email.$valid && submitted,
                                    'has-error': editerForm.email.$invalid && submitted }">
	Courriel
	<input type="email" name="email" class="form-control" ng-model="ModalEditCtrl.user.email" placeholder="Votre courriel" required mongoose-error style="width:250px" />
	<p class="help-block" ng-show="editerForm.email.$error.email && submitted">
		Adresse electronique invalide.
	</p>
	<p class="help-block" ng-show="editerForm.email.$error.required && submitted">
		Quel est votre adresse electronique?
	</p>
	<p class="help-block" ng-show="editerForm.email.$error.mongoose">
		{{ errors.email }}
	</p>
	</div>

	<label for="isa"> Utilisateur Activé:</label>
	<input type="checkbox" id="isa" ng-model="ModalEditCtrl.user.isactif"> Role :
	<select ng-model="ModalEditCtrl.user.role">
        <option value="user"> Utilisateur </option>
        <option value="admin_grp"> Administrateur de groupe </option>
        <option value="admin"> Administrateur Principal </option>
        </select>
	</form>
	</uib-tab>
	<uib-tab heading="Groupes">

<br>
		<form>
			<input ng-model="search.name" placeholder="Recherche sur le nom">
		</form>

		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"  pagination-id="grp" template-url="/assets/dirPagination.tpl.html"></dir-pagination-controls>
		<br>
		<table class="table table-striped ">
			<tr dir-paginate="group in ModalEditCtrl.user.memberOf | orderBy:'name' | filter:search:strict | itemsPerPage :'6' "  pagination-id="grp">
    <td>
					<strong> {{group.name}}</strong>
				</td>
				<td>
				 {{group.info}}
				</td>
			</tr>
		</table>



	</uib-tab>
	</uib-tabset>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ModalEditCtrl.ok(editerForm)">OK</button>
		<button class="btn btn-warning" ng-click="ModalEditCtrl.cancel()">Annuler</button>
	</div>
	</script>
	</div>
