<div class="container">
	Gestion des utilisateurs: {{usersCtrl.users.length}} inscrits</span>
	<p class="text-warning" ng-if="usersCtrl.users.length==0"> Chargement ...</p>
	<form>
		<input ng-model="usersCtrl.search.$" placeholder="Recherche globale">
		<input ng-model="usersCtrl.search.email" placeholder="Recherche sur le Mel">
		<input ng-model="usersCtrl.search.structure" placeholder="Recherche sur la Structure">
		 Utilisateurs Non Actif
		<input type="checkbox" ng-model="usersCtrl.search.isactif" ng-true-value=false ng-false-value="">
	</form>


		<p class="text-warning" ng-if="usersCtrl.users.length==0"> Chargement ...</p>
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
<div align="left">
	<span ng-if="usersCtrl.users.length > 0">  selectionnés: {{usersCtrl.myfilterlist.length}}/{{usersCtrl.users.length}}</span>
		<button class="btn btn-warning btn-xs" type="button"  ng-click="usersCtrl.activeselected()"  aria-label="Activer les {{usersCtrl.myfilterlist.length}} utilisateurs ">
	  <span class="glyphicon glyphicon-star"></span>Activer
	  </button>
		<button class="btn btn-warning btn-xs" type="button"  ng-click="usersCtrl.validmailselected()"  aria-label="Valider les mails des {{usersCtrl.myfilterlist.length}} utilisateurs ">
	  <span class="glyphicon glyphicon-star"></span>Valider
	</button>
		<button class="btn btn-warning btn-xs" type="button"  ng-click="usersCtrl.addgroupselected()"  aria-label="Inscrire les {{usersCtrl.myfilterlist.length}} utilisateurs ">
	  <span class="glyphicon glyphicon-star"></span>Inscrire
	</button>
</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th> <span class="sortorder"  ng-class="{reverse: usersCtrl.Reverse}"></span></th>
						<th>
							<button ng-click="usersCtrl.sortBy('name')">Nom</button>
						</th>
						<th class="hidden-xs"><button ng-click="usersCtrl.sortBy('uid')">UID</button></th>
						<th class="hidden-xs"><button ng-click="usersCtrl.sortBy('role')">Rôle</button></th>
						<th>
							<button ng-click="usersCtrl.sortBy('structure')">Structure</button>

						<th class="hidden-xs"><button ng-click="usersCtrl.sortBy('lastloginDate')">Connexion</button></th>
						<th><button ng-click="usersCtrl.sortBy('mail')">Email</button></th>
					</tr>
				</thead>
				<tr dir-paginate="user in usersCtrl.myfilterlist=( usersCtrl.users | orderBy:usersCtrl.propertyName:usersCtrl.Reverse | filter:usersCtrl.search:strict )| itemsPerPage :'12' ">
						<td>
						 	&nbsp;
						<button class="btn btn-warning btn-xs" type="button" ng-if="!user.isactif" ng-click="usersCtrl.active(user)"  aria-label="Autoriser">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
						<button type="button" class="btn btn-success btn-xs" ng-if="user.isactif" ng-click="usersCtrl.deactive(user)"  aria-label="Exclure">
  <span class="glyphicon glyphicon-remove"></span>
        </button>
						<button class="btn btn-warning btn-xs" type="button" ng-if="!user.mailValid" ng-click="usersCtrl.validmail(user)"  aria-label="Valider le Courriel">
            <span class="glyphicon glyphicon-envelope"></span>
          </button>
							<button class="btn btn-success btn-xs" type="button" ng-if="user.mailValid" ng-click="usersCtrl.invalidmail(user)"  aria-label="Invalider le Courriel">
              <span class="glyphicon glyphicon-envelope"></span>
          </button>

						<button class="btn  btn-xs" type="button"  ng-click="usersCtrl.edit(user)"  aria-label="Modifier" class="trash">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>

					</td>
					<td>
						<strong>{{user.name}}</strong>
						<strong>{{user.surname}}</strong>
					</td>
					<td class=" hidden-xs">
						<div>{{user.uid}} </div>
					</td>
					<td class=" hidden-xs">
						<div>{{user.role}} </div>
					</td>

					<!-- <td> <div class="hidden-sm hidden-xs">{{user.creationDate | date: "dd/MM/yyyy"}} </div></td> -->
					<td>
						<strong> {{user.structure}} </strong>
					</td>
					<td class="hidden-xs"> {{user.lastloginDate | date: "dd/MM/yyyy"}} </td>
					</td>
					<td>
						<span class="text-muted "><a href=mailto:{{user.email}}  aria-label="Envoyer un courriel"> {{user.email}}  </a>
				</span>
						<span ng-show="user.uid!='admin'">
			<a href ng-click="usersCtrl.delete(user)"  aria-label="Effacer" class="trash">
				<div class="glyphicon glyphicon-trash pull-right"></div>
			</a>
    </span>
				</tr>
			</table>
		</div>

		<script type="text/ng-template" id="modalAddGroup.html">
			<div class="modal-header">
		<h3 class="modal-title" ng-show="modalAddGrouptCtrl.group.selected!=undefined">Inscrire les {{modalAddGrouptCtrl.selectedUsers.length}} utilisateurs dans le groupe {{modalAddGrouptCtrl.group.selected.name}}</h3>
		<h3 class="modal-title" ng-show="modalAddGrouptCtrl.group.selected==undefined">Inscrire les {{modalAddGrouptCtrl.selectedUsers.length}} utilisateurs dans un groupe</h3>
	</div>
	<div class="modal-body">

		<ui-select name="grp" required ng-model="modalAddGrouptCtrl.group.selected" ng-disable="disabled" style="width: 300px;" title="Choisir un groupe">
			<ui-select-match placeholder="Selection dans la liste...">{{$select.selected.info}}</ui-select-match>
			<ui-select-choices repeat="grp in modalAddGrouptCtrl.groups| filter: $select.search|orderBy:'uid'">
				<div ng-bind-html="grp.info  | highlight: $select.search"></div>
				<!-- <span ng-bind-html="grp.name | highlight: $select.search"></span> -->
			</ui-select-choices>
		</ui-select>
	 <table class="table table-striped ">
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"  pagination-id="adm" template-url="/assets/dirPagination.tpl.html"></dir-pagination-controls>
	              <tr dir-paginate="user in modalAddGrouptCtrl.selectedUsers | orderBy:'uid' | itemsPerPage :'10' "  pagination-id="adm" >
	                <td>
	                  - {{user.uid}}
	                </td>
	                <td>
	                  <a href ng-click="modalAddGrouptCtrl.selectedUsers.splice(modalAddGrouptCtrl.selectedUsers.indexOf(user), 1);" rel="tooltip" title="Déselectionner" class="trash">
	                    <div class="glyphicon glyphicon-remove pull-right"></div>
	                  </a>
	                </td>
	              </tr>
	            </table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="modalAddGrouptCtrl.ok(modalAddGrouptCtrl.group.selected)" ng-show="modalAddGrouptCtrl.group.selected!=undefined">OK</button>
		<button class="btn btn-warning" ng-click="modalAddGrouptCtrl.cancel()" >Annuler</button>
	</div>
</script>

		<script type="text/ng-template" id="modalEdit.html">
			<div class="modal-header">
			<h3 class="modal-title">Modification de {{ModalEditCtrl.user.uid}}</h3>
		</div>
		<div class="modal-body">
			<uib-tabset>

				<uib-tab heading="Profil">
					<form class="form" name="editerForm" ng-submit="editer(editerForm)" novalidate>

						<div class="form-group" ng-class="{ 'has-success': editerForm.name.$valid && submitted,
                                    'has-error': editerForm.name.$invalid && submitted }">
							Nom
							<input type="text" name="name" class="form-control" ng-model="ModalEditCtrl.user.name" required style="width:250px" />
							<p class="help-block" ng-show="editerForm.name.$error.required && submitted">
								Nom Obligatoire
							</p>

		      </div>
		<div class="form-group" ng-class="{ 'has-success': editerForm.surname.$valid && submitted,
                                    'has-error': editerForm.surname.$invalid && submitted }">

			Prénom
			<input type="text" name="surname" class="form-control" ng-model="ModalEditCtrl.user.surname" placeholder="Votre prénom" required style="width:250px" />
			<p class="help-block" ng-show="editerForm.surname.$error.required && submitted">
				Prénom Obligatoire
			</p>

			<div class="form-group" ng-class="{ 'has-success': editerForm.structure.$valid && submitted,
                                    'has-error': editerForm.structure.$invalid && submitted }">
				<span>Structure de rattachement :
							<select ng-model="ModalEditCtrl.user.structure">
	 							<option ng-repeat="option in ModalEditCtrl.Structures" value="{{option.id}}">{{option.value}}</option>
              </select>
            </span>
				<p class="help-block" ng-show="editerForm.structure.$error.required && submitted">
					Structure de rattachement Obligatoire
				</p>
</div></div>

<div class="form-group" ng-class="{ 'has-success': editerForm.email.$valid && submitted,
                                    'has-error': editerForm.email.$invalid && submitted }">
	Courriel
	<input type="email" name="email" class="form-control" ng-model="ModalEditCtrl.user.email" placeholder="Votre courriel" required mongoose-error style="width:250px" />
	<p class="help-block" ng-show="editerForm.email.$error.email && submitted">
		Adresse electronique invalide.
	</p>
	<p class="help-block" ng-show="editerForm.email.$error.required && submitted">
		Quel est votre adresse electronique?
	</p>
	<p class="help-block" ng-show="editerForm.email.$error.mongoose">
		{{ errors.email }}
	</p>
	</div>

	<label for="isa"> Utilisateur Activé:</label>
	<input type="checkbox" id="isa" ng-model="ModalEditCtrl.user.isactif"> Role :
	<select ng-model="ModalEditCtrl.user.role">
        <option value="user"> Utilisateur </option>
        <option value="admin_grp"> Administrateur de groupe </option>
        <option value="admin"> Administrateur Principal </option>
        </select>
	</form>
	</uib-tab>
	<uib-tab heading="Groupes">

<br>
		<form>
			<input ng-model="search.name" placeholder="Recherche sur le nom">
		</form>

		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"  pagination-id="grp" template-url="/assets/dirPagination.tpl.html"></dir-pagination-controls>
		<br>
		<table class="table table-striped ">
			<tr dir-paginate="group in ModalEditCtrl.user.memberOf | orderBy:'name' | filter:search:strict | itemsPerPage :'6' "  pagination-id="grp">
    <td>
					<strong> {{group.name}}</strong>
				</td>
				<td>
				 {{group.info}}
				</td>
			</tr>
		</table>



	</uib-tab>
	<uib-tab heading="Pad">

		<button class="btn btn-warning" ng-click="ModalEditCtrl.initPadId()">	Init AuteurPadId </button> : {{ ModalEditCtrl.user.authorPadID}}

		</uib-tab>
	</uib-tabset>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ModalEditCtrl.ok(editerForm)">OK</button>
		<button class="btn btn-warning" ng-click="ModalEditCtrl.cancel()">Annuler</button>
	</div>
	</script>
</div>
