node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
client/index.html
build
dist
build
/server/config/local.env.js
npm-debug.log
coverage
.vagrant
package-lock.json
yarn.lock
ubuntu-xenial-16.04-cloudimg-console.log
