<script id="customMonthCell.html" type="text/ng-template">
coucou
</script>

<div class="container">
  <div class="col-md-12">
      <!-- <h3>Groupes</h3>
      <div class="alert alert-info" ng-if="eventsCtrl.getCurrentUser().adminOf.length > 0">
        <ul>
          <li ng-repeat=" grp in eventsCtrl.getCurrentUser().adminOf;">
            {{grp.info}}
          </li>
        </ul>
      </div> -->
    <uib-tabset active="collaborateCtrl.Active"  >
    <uib-tab heading="Agenda">

    <div class="alert alert-info">
      <div class="text-center">
        <h4> Organisez vos Réunions</h4>
        <p class="text-center">{{ eventsCtrl.calendarTitle }}</p>
        <div class="btn-group">
          <label class="btn btn-primary  btn-sm" ng-model="eventsCtrl.calendarView" uib-btn-radio="'year'" ng-click="eventsCtrl.cellIsOpen = false">Année</label>
          <label class="btn btn-primary btn-sm " ng-model="eventsCtrl.calendarView" uib-btn-radio="'month'" ng-click="eventsCtrl.cellIsOpen = false">Mois</label>
          <label class="btn btn-primary btn-sm " ng-model="eventsCtrl.calendarView" uib-btn-radio="'week'" ng-click="eventsCtrl.cellIsOpen = false">Semaine</label>
        </div>
        <br>
        <div class="btn-group">
          <button class="btn btn-primary  btn-sm " mwl-date-modifier date="eventsCtrl.viewDate" decrement="eventsCtrl.calendarView" ng-click="eventsCtrl.cellIsOpen = false">
            Précédent
          </button>
          <button class="btn btn-default  btn-sm" mwl-date-modifier date="eventsCtrl.viewDate" set-to-today ng-click="eventsCtrl.cellIsOpen = false">
            Aujourdhui
          </button>
          <button class="btn btn-primary btn-sm " mwl-date-modifier date="eventsCtrl.viewDate" increment="eventsCtrl.calendarView" ng-click="eventsCtrl.cellIsOpen = false">
            Suivant
          </button>
        </div>
        <p class="alert {{eventsCtrl.alert.type}}" ng-if="eventsCtrl.alert.msg"> {{eventsCtrl.alert.msg}}

          <label class="btn btn-success  btn-sm pull-right" ng-click="eventsCtrl.eventClicked({})">
            Ajouter
          </label>
      </div>
      <mwl-calendar events="eventsCtrl.eventSources" view="eventsCtrl.calendarView" view-title="eventsCtrl.calendarTitle" view-date="eventsCtrl.viewDate" on-event-click="eventsCtrl.eventClicked(calendarEvent)" on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd; eventsCtrl.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
        cell-is-open="eventsCtrl.cellIsOpen" day-view-start="08:00" day-view-end="19:59" day-view-split="30"
        cell-modifier="eventsCtrl.modifyCell(calendarCell)"
        cell-auto-open-disabled="false" on-timespan-click="eventsCtrl.timespanClicked(calendarDate, calendarCell)"
          custom-template-urls="{calendarViewCell: 'customMonthCell.html'}">
      </mwl-calendar>
    </div>
  </uib-tab>
    <uib-tab heading="Liste">
      <form>
          <!-- <input ng-show="collaborateCtrl.getCurrentUser().memberOf.length > 0" ng-model="search.$" placeholder="Recherche globale"> -->
         Voir les anciennes réunions
        <input type="checkbox" ng-model="search.newEv" ng-init="search.newEv=true" ng-true-value="" ng-false-value="true">
        </form>
        <dir-pagination-controls  boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="evt"></dir-pagination-controls>
         <table class="table table-striped ">
           <tr dir-paginate="evt in eventsCtrl.eventSources| orderBy: 'startsAt' | filter:search:strict | itemsPerPage :'8' " pagination-id="evt">

             <td>
                <button type="button" class="btn  btn-xs"  ng-click="eventsCtrl.eventClicked(evt)" rel="tooltip" title="Modifier">
                <span class="glyphicon glyphicon-pencil"></span>
               </button>
               <button type="button" class="btn  btn-xs"  ng-click="eventsCtrl.openPad(evt)" rel="tooltip" title="Voir le PAD">
               <span class="glyphicon glyphicon-eye-open"></span>
              </button>

             </td>
             <td>
             <strong><span ng-bind-html="evt.start"></strong>
           </td>
             <td>
             {{evt.groupe}}
               </td>
             <td>
               {{evt.title}}
             </td>
             <td> <span ng-bind-html="evt.info"></span>
             </td>
            <!-- <td>
              {{evt}}
            </td> -->
             <td  >
               <span ng-bind-html="evt.lieu"></span>
             </td>
             <td>
               {{evt.participants.length}}
             </td>

           </tr>
         </table>
    </uib-tab>
  </uib-tabset>
  </div>
  <script type="text/ng-template" id="modalEv.html">
    <div class="modal-header">
      <h3 class="modal-title">{{modalEditEvCtrl.titre}} {{modalEditEvCtrl.libDate}}</h3>
      <div ng-if="!modalEditEvCtrl.newEv"> Groupe : {{modalEditEvCtrl.event.group.info}}</div>
    </div>
    <div class="modal-body">
      <form class="form" name="editerForm" ng-submit="modalEditEvCtrl.editer(editerForm)" novalidate>
        <uib-tabset>
          <uib-tab heading="Evenement">
            <div class="form-group" ng-class="{ 'has-success': editerForm.name.$valid && modalEditEvCtrl.submitted,
                                  'has-error': editerForm.$invalid && modalEditEvCtrl.submitted }">
              <div ng-if="modalEditEvCtrl.newEv">

                Groupe
                <ui-select name="group" ng-model="modalEditEvCtrl.grp" ng-disable="disabled" style="width: 300px;" required title="Groupe">
                  <ui-select-match placeholder="Selection dans la liste...">{{$select.selected.info}}</ui-select-match>
                  <ui-select-choices repeat="grp in  modalEditEvCtrl.getCurrentUser().adminOf | filter: $select.search|orderBy:'info'">
                    <div ng-bind-html="grp.info  | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
                <p class="help-block" ng-show="editerForm.group.$error.required && modalEditEvCtrl.submitted">
                  Groupe Obligatoire
                </p>
              </div>
              <!-- <div ng-if="!modalEditEvCtrl.newEv"> -->

              Titre
              <input type="text" name="title" class="form-control" ng-model="modalEditEvCtrl.event.title" required style="width:450px" />
              <p class="help-block" ng-show="editerForm.title.$error.required && modalEditEvCtrl.submitted">
                Titre Obligatoire
              </p>
            <!-- </div> -->
              Description
              <input type="text" name="info" class="form-control" ng-model="modalEditEvCtrl.event.info" ng-init="modalEditEvCtrl.event.info" required style="width:450px" />
              <p class="help-block" ng-show="editerForm.info.$error.required && modalEditEvCtrl.submitted">
                Info Obligatoire
              </p>
              Lieu
              <textarea row=2 type="text" name="lieu" class="form-control" ng-model="modalEditEvCtrl.event.lieu" required style="width:450px" />
              <p class="help-block" ng-show="editerForm.lieu.$error.required && modalEditEvCtrl.submitted">
                Lieu Obligatoire
              </p>
              <input type="checkbox" ng-model="modalEditEvCtrl.event.allDay"> Journée complète.
              <br>Date Début
              <p class="input-group">
                <input type="texte" name="dateD" class="form-control" style="width:150px"
                uib-datepicker-popup="{{modalEditEvCtrl.format}}"
                ng-model="modalEditEvCtrl.event.startsAt"
                is-open="modalEditEvCtrl.openedDD"
                datepicker-options="modalEditEvCtrl.dateOptions"
                uib-date-disabled="modalEditEvCtrl.disabled(date, mode)"
                ng-required="true" close-text="Fermer" />
                <button type="button" class="btn btn-default" ng-click="modalEditEvCtrl.openDD($event)"> <i class="glyphicon glyphicon-calendar"></i>
                </button>
                <p class="help-block" ng-show="editerForm.dateD.$error.required && modalEditEvCtrl.submitted">
                  Date Obligatoire
                </p>
              </p>
              <div ng-show="!modalEditEvCtrl.event.allDay">
                <div> Heure de début : </div>
                <div uib-timepicker ng-model="modalEditEvCtrl.event.startsAt" ng-change="modalEditEvCtrl.changed()" hour-step="modalEditEvCtrl.hstep" minute-step="modalEditEvCtrl.mstep" show-meridian="false">
                </div>
                Date De Fin
                <p class="input-group">
                  <input type="text" class="form-control" style="width:150px"
                  uib-datepicker-popup="{{modalEditEvCtrl.format}}" ng-model="modalEditEvCtrl.event.endsAt"
                  is-open="modalEditEvCtrl.openedDF" min-date="modalEditEvCtrl.event.startsAt"
                  datepicker-options="modalEditEvCtrl.dateOptions" uib-date-disabled="disabled(date, mode)"
                    ng-required="false" close-text="Fermer" />

                  <button type="button" class="btn btn-default" ng-click="modalEditEvCtrl.openDF($event)"><i class="glyphicon glyphicon-calendar"></i>
                  </button>
                  <div> Heure de Fin :
                    <div uib-timepicker ng-model="modalEditEvCtrl.event.endsAt" ng-change="modalEditEvCtrl.changed()" hour-step="modalEditEvCtrl.hstep" minute-step="modalEditEvCtrl.mstep" show-meridian="false">
                    </div>
                  </div>
                </p>
              </div>
              <!-- End allDay -->
            </div>
            <!-- End form-group -->
          </uib-tab>
          <uib-tab heading="Participants">
            <span ng-show="modalEditEvCtrl.event.participants.length> 0"> {{modalEditEvCtrl.event.participants.length}} participants </span>
            <button class="btn btn-warning btn-xs" type="button"  ng-click="modalEditEvCtrl.copyAdr()" rel="tooltip" title="Copier les emails">
              <span class="glyphicon glyphicon-star"></span>Copier les participants
            </button>
            <button class="btn btn-warning btn-xs" type="button"  ng-click="modalEditEvCtrl.mailtoAdr()" rel="tooltip" title="Ecrire">
              <span class="glyphicon glyphicon-star"></span>Envoyez un mail
            </button>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/assets/dirPagination.tpl.html">
            </dir-pagination-controls>
            <table class="table table-striped ">
              <tr dir-paginate="user in modalEditEvCtrl.event.participants | orderBy:'groupeInfo' | filter:search:strict | itemsPerPage :'8' ">
                <td>
                  <strong>{{user.name}}</strong> {{user.surname}}
                </td>

                <td>
                  {{user.email}}
                </td>
              </tr>
            </table>
            <!-- <div ng-repeat="user in modalEditEvCtrl.event.participants"> {{user.uid}}</div> -->
          </uib-tab>
        </uib-tabset>
      </form>
    </div>
    <!--End Body -->
    <div class="modal-footer">
      <button ng-if="!newEv" class="btn btn-danger pull-left" ng-click="modalEditEvCtrl.delete(editerForm)">Supprimer</button>
      <button class="btn btn-primary" ng-click="modalEditEvCtrl.ok(editerForm)">OK</button>
      <button class="btn btn-warning" ng-click="modalEditEvCtrl.cancel()">Annuler</button>
      <!--      <button ng-if="!newEv" class="btn btn-danger pull-rigth" ng-click="delete(editerForm)">Supprimer</button>-->
    </div>
  </script>
