<div ng-hide="vm.isLoggedIn()">
  <header  class="hero-unit" id="banner" >
    <div class="container"  >
      <h1>{{vm.TitreSite}} &nbsp;</h1>
      <p class="lead">{{vm.DeviseSite}}&nbsp;</p>
      {{banTitre}}
      <img src="assets/images/LogoPLLPt.png " alt="Pôle Logiciels Libres">
    </div>
  </header>
  <div class="container" ng-if="!vm.ForceSSO ||vm.forceLocal">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <div class="container-fluid">
            <div class="col-md-6">
               <h3>Identification:</h3>
              <form class="form" name="form" ng-submit="vm.login(form)"  novalidate>

                <div class="form-group">


                  <input name="uid" class="form-control" ng-model="vm.user.uid"  placeholder="Identifiant" required style="width:250px">
                </div>

                <div class="form-group">


                  <input type="password" name="password" class="form-control" ng-model="vm.user.password"  placeholder="Mot de passe" required style="width:250px">
                </div>

                <div class="form-group has-error">
                  <p class="help-block" ng-show="(form.uid.$error.required || form.password.$error.required) && vm.submitted">
                    Entrez votre identifiant et votre mot de passe..
                  </p>
                  <p class="help-block">{{ vm.msg }}</p>
                </div>
                <span>
                <button class="btn  btn-default btn-lg btn-login" type="submit">
                Connexion
              </button>
            </span>
              </form>
              <div  ng-if="vm.OauthActif">
                <h3>Se connecter avec</h3>
                <a href="/auth/openid" target="_self" class="btn btn-default"><img src="assets/images/openid-wordmark.svg" style="max-width:150px"/></a>
              </div>
            </div>
            <div class="col-md-6">
              <h3>Informations:</h3> Pour profiter des services en ligne vous devez avoir un compte.
              <span class="hidden-sm hidden-xs"> Pour éviter le spam les demandes d'inscription sont soumises à modération.</span>
              <br> <br>
              <a href="/signup" class="btn btn-default"> Inscription.</a>
              <br>
              <div class="hidden-sm hidden-xs">
              <br> <br>Si vous avez perdu votre mot de passe, vous pouvez le réinitialiser via le mail
              <br><br>
              <a href="/lostpwd" class="btn btn-default"> Mot de passe perdu.</a>
            </div>
              <div ng-if="vm.Infos" class="hidden-xs">
                <br><br>
                <div class="alert alert-warning" ng-bind-html="vm.Infos"> </div>
              </div>
              <p>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
