$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
//@import '/node_modules/angular-material/angular-material.css';
@import '~bootstrap-social/bootstrap-social.scss';
@import '~ui-select/dist/select.css';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through gulp

/* inject:scss */
@import 'admin/admin';
@import 'adminpoll/adminpoll';
@import 'collaborate/collaborate';
@import 'demandes/demandes';
@import 'directory/directory';
@import 'events/events';
@import 'groupes/groupes';
@import 'main/main';
@import 'poll/poll';
@import 'users/users';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */



button[aria-label]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 1s;
    visibility: visible;
}
button[aria-label]:after {
    content: attr(aria-label);
    position: absolute;
    bottom: -2.6em;
    left: 50%;
    transform: translateX(-40%);
    padding: 4px 4px 4px 8px;
    color: #222;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-color: lightsteelblue;
    // background-image: -moz-linear-gradient(top, #bbdae8, #cccccc);
    // background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f8f8f8),color-stop(1, #cccccc));
    // background-image: -webkit-linear-gradient(top, #bbdae8, #cccccc);
    // background-image: -moz-linear-gradient(top, #bbdae8, #cccccc);
    // background-image: -ms-linear-gradient(top,#bbdae8, #cccccc);
    // background-image: -o-linear-gradient(top, #bbdae8, #cccccc);
    opacity: 0;
    z-index: 999;
    visibility: hidden;
}
button[aria-label] {
    position: relative;  /* les .infobulle deviennent référents */
    //cursor: help;
}

a[aria-label]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 1s;
    visibility: visible;
}
a[aria-label]:after {
    content: attr(aria-label);
    position: absolute;
    bottom: -2.6em;
    left: 50%;
    transform: translateX(-40%);
    padding: 4px 4px 4px 8px;
    color: #222;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-color: lightsteelblue ;
    // background-image: -moz-linear-gradient(top, #bbdae8, #cccccc);
    // background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f8f8f8),color-stop(1, #cccccc));
    // background-image: -webkit-linear-gradient(top, #bbdae8, #cccccc);
    // background-image: -moz-linear-gradient(top, #bbdae8, #cccccc);
    // background-image: -ms-linear-gradient(top,#bbdae8, #cccccc);
    // background-image: -o-linear-gradient(top, #bbdae8, #cccccc);
    opacity: 0;
    z-index: 999;
    visibility: hidden;
}
a[aria-label] {
    position: relative;
}
