<div ng-show="$ctrl.sso" class="alert alert-info">
  <center> Authentification SSO en cours ...</center>
</div>
<div class="container" ng-if="!$ctrl.isLoggedIn()">

</div>

<div class="container" ng-if="$ctrl.isLoggedIn()&& !$ctrl.sso " ng-init="CalInit()">
  <div class="row">
    <div class="col-lg-12">
      <!-- <p>Bonjour {{ $ctrl.getCurrentUser().surname }} {{ $ctrl.getCurrentUser().name }}</p> -->
      <div class="alert alert-warning" ng-if="!$ctrl.getCurrentUser().mailValid">
        Votre adresse electronique <b> {{$ctrl.getCurrentUser().email}} </b> n'a pas encore été confirmée.
        <br>Un message de confirmation vous a été envoyé.
        <br>Consultez votre boite au lettre.
        <br> La connexion à ce service ne sera possible qu'après validation de votre courriel.
      </div>
      <div class="alert alert-warning" ng-if="!$ctrl.getCurrentUser().isactif"> Votre compte est en attende de validation par le modérateur. </div>
    </div>
    <div ng-if="$ctrl.getCurrentUser().isactif">
      <h3 ng-if="$ctrl.MSG">Informations:</h3> {{$ctrl.MSG }}
    </div>

      <div class="row"  ng-if="$ctrl.getCurrentUser().isactif">
        <div class="table table-striped alert-info">
          <br>
          <uib-accordion>
            <div uib-accordion-group is-open=true heading="Services en lignes ">
              <ul class="nav nav-tabs nav-stacked  col-lg-4 col-sm-6   " ng-repeat="service in $ctrl.onlineServices">
                <li "> <span class="glyphicon {{service.glyphicon}} "><a href="{{service.url}}" target="{{service.target}}" style="text-decoration:none;"> {{service.title}}</a></span></li>
              </ul>
          </div>

            <div uib-accordion-group class="panel-default " ng-if="$ctrl.awesomeThings.length " heading="Brèves d 'actualités">

                  <ul class="nav nav-tabs nav-stacked  col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
                    <li><a uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" ng-if="$ctrl.isAdmin()" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
                  </ul>
            </div>


            <div uib-accordion-group class="panel-default" ng-if="$ctrl.isAdmin()" heading="Ajouter une brève ">
              <form class="thing-form">

                <p class="input-group">
            <input type="text" class="form-control" placeholder="Titre" ng-model="$ctrl.newThing.name" style="width:280px">
                  <input type="text" class="form-control" placeholder="Saisisez votre brève." ng-model="$ctrl.newThing.info" style="width:400px>
      <span class=" input-group-btn "></p>
        <button type="submit " class="btn btn-primary " ng-click="$ctrl.addThing() ">Ajoutez</button>
      </span>
  </form>
   </div>

  </uib-accordion>
  <br>
  </div>
  </div>
