<div class="container">
  <p class="text-info">Selectionez les inscriptions à valider</p>
  <form>
    <button ng_if="demandesCtrl.demandes.docs.length>0" ng-click="demandesCtrl.checkAll()">Toutes</button>
    <button ng_if="demandesCtrl.demandes.docs.length>0" ng-click="demandesCtrl.uncheckAll()">Aucune</button>
    <button ng_if="demandesCtrl.demandes.docs.length>0" clas='btn btn-default' ng-click="demandesCtrl.traite(demandes);">
      <span> Appliquer </span>
    </button>
  </form>
  <p class="text-warning" ng-if="demandesCtrl.demandes.docs.length==0"> Pas de demande</p>
  <br>
  <dir-pagination-controls boundary-links="true" on-page-change="demandesCtrl.pageChanged(newPageNumber)" template-url="./app/demandes/dirPagination.tpl.html"></dir-pagination-controls>

  <table class="table table-condensed table-striped">
    <tbody>
      <tr dir-paginate="user in demandesCtrl.users | itemsPerPage: demandesCtrl.usersPerPage" total-items="demandesCtrl.totalUsers" current-page="demandesCtrl.pagination.current">

        NB Demande : {{demandesCtrl.demandes.total}}
        <td>
          <input type="checkbox" ng-model="user.isactif">
        </td>
        <td>
          {{user.creationDate | date: "dd/MM/yyyy"}}
        </td>
        <td>
          <strong>{{user.name}} </strong>&nbsp&nbsp{{user.surname}}
        </td>
        <td>
          {{user.email}}
        </td>
        <td>
          {{user.structure}}
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <button ng_if="demandes.docs.length>20" ng-click="demandesCtrl.checkAll()">Toutes</button>
  <button ng_if="demandes.docs.length>20" ng-click="demandesCtrl.uncheckAll()">Aucune</button>
  <button ng_if="demandes.docs.length>20" clas='btn btn-default' ng-click="demandesCtrl.traite(demandes);">
    <span> Appliquer </span>
  </button>

</div>
