<div class="container">

  <div class="col-lg-10">

    <uib-tabset>
    <uib-tab heading="Services">
      <span ng-if="collaborateCtrl.getCurrentUser().memberOf.length > 0">Vous êtes inscrit dans : {{collaborateCtrl.getCurrentUser().memberOf.length}} groupe(s) </span>
      <span ng-if="collaborateCtrl.getCurrentUser().memberOf.length == 0">Vous êtes inscrit dans aucun groupe - Modifiez vos paramètres </span>
      <form >
        <input ng-show="collaborateCtrl.getCurrentUser().memberOf.length > 0" ng-model="search.$" placeholder="Recherche globale">
      </form>
      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
      template-url="/assets/dirPagination.tpl.html"></dir-pagination-controls>
      <br>
      <table class="table table-striped ">
        <tr dir-paginate="group in collaborateCtrl.getCurrentUser().memberOf | orderBy: 'name'| filter:search:strict | itemsPerPage : '12' ">
          <td>
            <button class="btn  btn-default btn-sm btn-primary" ng-click="collaborateCtrl.openNote(group)"><span class="glyphicon .glyphicon-info-sign"></span>Informations </button>
            <button ng-if="collaborateCtrl.urlPad" class="btn  btn-default btn-sm  btn-primary" ng-click="collaborateCtrl.openPad(group)">EtherPAD</button>
            <button ng-if="collaborateCtrl.urlCal" class="btn  btn-default btn-sm  btn-primary" ng-click="collaborateCtrl.openCalc(group)">EtherCALC</button>
          </td>
          <td>
            <strong>{{group.name}}</strong>
          </td>
          <td>
            {{group.info}}
          </td>
        </tr>
      </table>

     </uib-tab>
    <uib-tab ng-if="collaborateCtrl.getCurrentUser().memberOf.length > 0" heading="Agenda">
        <span ng-if="collaborateCtrl.getCurrentUser().memberOf.length > 0">Vous êtes inscrit dans : {{collaborateCtrl.getCurrentUser().memberOf.length}} groupe(s) </span>
    <div class="alert alert-info">
    <div class="text-center">
        <h4> Agenda de vos groupes</h4>
        <p class="text-center">{{ collaborateCtrl.calendarTitle }}</p>

        <div class="btn-group">
          <label class="btn btn-primary" ng-model="collaborateCtrl.calendarView" uib-btn-radio="'year'" ng-click="collaborateCtrl.cellIsOpen = false">Année</label>
          <label class="btn btn-primary" ng-model="collaborateCtrl.calendarView" uib-btn-radio="'month'" ng-click="collaborateCtrl.cellIsOpen = false">Mois</label>
          <label class="btn btn-primary" ng-model="collaborateCtrl.calendarView" uib-btn-radio="'week'" ng-click="collaborateCtrl.cellIsOpen = false">Semaine</label>
        </div>
        <br>
        <div class="btn-group">
          <button class="btn btn-primary" mwl-date-modifier date="collaborateCtrl.viewDate" decrement="collaborateCtrl.calendarView" ng-click="collaborateCtrl.cellIsOpen = false">
                 Précédent
               </button>
          <button class="btn btn-default" mwl-date-modifier date="collaborateCtrl.viewDate" set-to-today ng-click="collaborateCtrl.cellIsOpen = false">
                 Aujourdhui
               </button>
          <button class="btn btn-primary" mwl-date-modifier date="collaborateCtrl.viewDate" increment="collaborateCtrl.calendarView" ng-click="collaborateCtrl.cellIsOpen = false">
                 Suivant
               </button>
        </div>
          <p class="alert {{collaborateCtrl.alert.type}}" align="center" ng-if="collaborateCtrl.alert.msg"> {{collaborateCtrl.alert.msg}}</p>
        <mwl-calendar events="collaborateCtrl.eventSources" view="collaborateCtrl.calendarView" view-title="collaborateCtrl.calendarTitle" view-date="collaborateCtrl.viewDate" on-event-click="collaborateCtrl.eventClicked(calendarEvent)" on-event-times-changed="collaborateCtrl.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
          cell-is-open="collaborateCtrl.cellIsOpen" day-view-start="08:00" day-view-end="19:59" day-view-split="30" cell-modifier="collaborateCtrl.modifyCell(calendarCell)" cell-auto-open-disabled="false" on-timespan-click="collaborateCtrl.timespanClicked(calendarDate, calendarCell)">
        </mwl-calendar>
      </div>
    </div>
  </uib-tab>

<uib-tab ng-if="collaborateCtrl.getCurrentUser().memberOf.length > 0" heading="Sondage">
    <span ng-if="collaborateCtrl.getCurrentUser().memberOf.length > 0">Vous êtes inscrit dans : {{collaborateCtrl.getCurrentUser().memberOf.length}} groupe(s) </span>
   <div  class="text text-warning" ng-if="collaborateCtrl.polls.length == 0"> Aucun Sondage </div>
  <form >
    <input   ng-show="collaborateCtrl.polls.length" ng-model="searchText" placeholder="Recherche globale">
  </form>
  <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/assets/dirPagination.tpl.html">
  </dir-pagination-controls>
  <br>
  <table class="table table-striped ">
    <tr dir-paginate="poll in collaborateCtrl.polls |  filter:searchText:strict | itemsPerPage :'12' ">
      <td>
        <button class="btn btn-warning btn-xs"  ng_if="!collaborateCtrl.rep(poll)" type="button" ng-click="collaborateCtrl.openPoll(poll)" rel="tooltip" title="Répondre au sondage">
          <span class="glyphicon glyphicon-star"></span>Répondre
        </button>
        <button class="btn btn-success btn-xs" ng_if="collaborateCtrl.rep(poll)" type="button" ng-click="collaborateCtrl.openPoll(poll)" rel="tooltip" title="Répondre au sondage">
          <span class="glyphicon glyphicon-star"></span>Modifier&nbsp&nbsp
        </button>
        {{poll.groupeInfo}}
      </td>
      <td>
        <strong>{{poll.name}}</strong>
      </td>
      <td>
        {{poll.info}}
      </td>
      <td>
        {{poll.resultats.length}}
      </td>
    </tr>
  </table>
  </uib-tab>
  </uib-tabset>
</div>

  <div ng-include=" 'components/footer/footer.html' "></div>
</div>

  <script type="text/ng-template " id="modalNote.html ">
    <h3 class="modal-title"> Note du groupe: {{NC.groupe.info}}
         <button class="glyphicon glyphicon-remove pull-right" ng-click="NC.cancel()">
        </button></h3>

<div class="modal-body ">
  <div ng-show="NC.isAdminOf">
    <div ckeditor="options " ng-model="NC.groupe.note "> </div>

    <div class="modal-footer ">
      <div class="alert alert-success " align="center " ng-if="NC.msg "> {{NC.msg}}
      </div>
      <button class="glyphicon glyphicon-save " ng-click="NC.save()">Sauver
        </button>
    </div>
  </div>
</div>

<div style="margin-left:10px;margin-right:10px" ng-show="!NC.isAdminOf ">
  <div ng-bind-html="NC.groupe.note "></div>

</div>
</script>

<script type="text/ng-template" id="modalRepPoll.html">
  <div class="modal-header">
    <h3 class="modal-title">Répondre au sondage <button class="glyphicon glyphicon-remove pull-right" ng-click="NP.cancel()">
        </button></h3>
  </div>


  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-body-center">
      <thead>

          <tr>
            <th class="bg-info vertical-align:middle;" rowspan="2">{{NP.poll.name}}<br>{{NP.poll.info}} </th>
            <th colspan="{{p.sttime.length}} " class="bg-info" ng-repeat="p in NP.propositions track by $index "> {{p.stdate}}</th>
          </tr>
          <tr>

            <th  class="bg-info"  ng-repeat="x in NP.subDate track by $index ">{{x}}</th>
          </tr>
          <tr>
            <td class="bg-success ">Résultats</td>
            <td class="bg-success " ng-repeat="tx in NP.totx track by $index ">{{tx}}
            </td>
          </tr>

      </thead>
      <tbody>
        <tr>
        </tr>
        <tr ng-repeat="r in NP.resultats track by $index  ">
          <td>{{r.user.email}}</td>
          <td ng-repeat="w in NP.rep(r) track by $index">{{w|ouinon}}</td>
        </tr>
        <tr>
          <td>
            {{NP.user.email}}
          </td>
          <td ng-repeat="t in NP.subDate track by $index ">
            <label><input type="checkbox" ng-model="NP.repuser[$index]"> </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer ">
    <button class="btn btn-primary " ng-click="NP.ok() ">OK</button>
    <button class="btn btn-warning" ng-click="NP.cancel() ">Abandon</button>
  </div>
</script>
