<div class="container">
  <h3>Sondages</h3>
  <form>
    <input ng-model="search.$" placeholder="Recherche globale">
  </form>
  <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/assets/dirPagination.tpl.html">
  </dir-pagination-controls>
  <br>
  <table class="table table-striped ">
    <tr dir-paginate="poll in pollCtrl.polls | orderBy:'groupeInfo' | filter:search:strict | itemsPerPage :'12' ">
      <td>
        <button class="btn btn-warning btn-xs" type="button" ng-click="rep(poll)" rel="tooltip" title="Répondre au sondage">
          <span class="glyphicon glyphicon-star"></span>Répondre
        </button>
        {{poll.groupeInfo}}
      </td>
      <td>
        <strong>{{poll.name}}</strong>
      </td>
      <td>
        {{poll.info}}
      </td>
      <td>
        {{poll.resultats.length}}
      </td>
    </tr>
  </table>
</div>

<script type="text/ng-template" id="modalRepPoll.html">
  <div class="modal-header">
    <h3 class="modal-title">Répondre au sondage <button class="glyphicon glyphicon-remove pull-right" ng-click="pollCtrl.cancel()">
        </button></h3>
  </div>
  <!-- <table>
    <tr ng-repeat="(k, v) in rep() track by $index ">
      <td>{{k}} - {{v}}</td>
    </tr>
  </table>-->

  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-body-center">
      <thead>
        <tr>
          <th>Utilsateurs</th>
          <th colspan="{{p.sttime.length}} " ng-repeat="p in propositions track by $index "> {{p.stdate}}</th>
        </tr>
        <tr>
          <th></th>
          <th ng-repeat="x in subDate track by $index ">{{x}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        </tr>
        <tr ng-repeat="r in resultats track by $index  ">
          <td>{{r.user.email}}</td>
          <td ng-repeat="w in rep(r) track by $index" ng-init="doTxt(w,$index)">{{w|ouinon}}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td ng-repeat="tx in totx track by $index ">{{tx}}
          </td>
        </tr>
        <tr>
          <td>
            <!--            <input placeholder="Email " ng-model="email"> </input>-->
            {{email}}
          </td>
          <td ng-repeat="t in subDate track by $index ">
            <label>
              <input type="checkbox" ng-model="repuser[$index]"> </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer ">
    <button class="btn btn-primary " ng-click="pollCtrl.ok() ">OK</button>
    <button class="btn btn-warning" ng-click="pollCtrl.cancel() ">Annuler</button>
  </div>
</script>
